@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@400;500;700&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */

:root {
    /* FONTS */
    --HEADFONT: 'Caveat', cursive;
    --BODYFONT: 'Roboto', sans-serif;

    /* COLOURS */
    --C1: black;
    --C2: whitesmoke;
    --C3: #22577A;
    --C4: #38A3A5;
    --C5: #57CC99;
    --C6: #80ED99;
    --C7: #C7F9CC;

    /* PADDING & MARGIN & BORDERS */
    --PAD: 0.25rem;
    --BR1: 5px;
    --BR2: 10px;
}

/* UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* MAIN STYLES */

body {
    font-family: var(--BODYFONT);
    background-color: var(--C5);
}

.header, 
.footer {
    background-color: var(--C5);
    color: var(--C1);
    padding: var(--PAD);
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: var(--HEADFONT);
    font-size: 1.5rem;
}

.header_nav {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header_nav a {
    display: flex;
    text-decoration: none;
    font-weight: bolder;
    padding: var(--PAD);
    font-family: var(--BODYFONT);
    color: var(--C1);
    max-width: 18%;
}

.header_nav a:hover,
.header_nav a:focus {
    text-decoration: underline;
    color: var(--C3);
}

.header_img {
    position:relative;
    min-width: 20px;
    max-width: 5%;
    object-fit: contain;
}

.footer {
    position:sticky;
    bottom: 0;
    min-width: 100%;
    text-align: center;
}

.contentPages {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.hero_Img {
    position: relative;
    max-height: 50vh;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero h2 {
    position: absolute;
    text-shadow: 2px 2px 5px var(--C1);
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: var(--HEADFONT);
}

/* PAGE STYLES */

.indexMain {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.indexMain_img {
    z-index: -1;
    max-height: 80vh;
    max-width: 100%;
    object-fit: cover;
}

.indexMain_form {
    display: flex;
    flex-flow: column nowrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;

    border: solid var(--C1) 2px;
    border-radius: var(--BR1);
    box-shadow: 2px 2px 5px var(--C1);

    background-color: var(--C3);
    color: var(--C2);
}

.indexMain_form label,
.indexMain_form input {
    padding: var(--PAD);
    magrin: 0.1rem 0;
    border-radius: var(--BR1);
}

.indexMain_form button {
    width: 100%;
    margin-top: 0.75rem;
    padding: var(--PAD);
    background-color: var(--C3);
    color: var(--C2);
    border: solid var(--C2) 2px;
    border-radius: var(--BR1);
}

.indexMain_form button:hover,
.indexMain_form button:focus {
    background-color: var(--C2);
    color: var(--C3);
}

.indexMain_form button:active {
    transform: scale(0.98); 
}

.indexMain_form a {
    text-align: center;
    font-size: small;
    padding: 0.25rem;
    margin-top: 1rem;
    color: var(--C2);
    opacity: 0.5;
}

.indexMain_form a:hover,
.indexMain_form a:focus,
.indexMain_form a:active {
    opacity: 1;
}

.bookings {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: var(--PAD);
}

.bookings h2,
.bookings h3 {
    padding: var(--PAD);
}

.bookings h3 {
    margin-bottom: 0.5rem;
}

.bookings th {
    font-weight: bold;
}

.bookings table,
.bookings td,
.bookings th {
    border-collapse: collapse;
    text-align: center;
    background-color: var(--C7);
    padding: var(--PAD);
}

.bookings table {
    border-radius: var(--BR2);
    margin-bottom: var(--PAD);
    box-shadow: 2px 2px 5px var(--C1);
}

.bookings th {
    border-bottom: dashed var(--C3) 1px;
    border-radius: var(--BR2);
}

.bookings td,
.bookings th {
    border-right: dashed var(--C3) 1px;
}

.bookings td:last-child,
.bookings th:last-child {
    border-right: none;
    border-radius: var(--BR2);
}

.bookings td:first-child {
    border-radius: var(--BR2);
}
